body, p, td{
font-family:Verdana;
font-size:8pt;
font-weight:normal;
color:#000000;
margin: 0px;
}

ul, ol, blockquote {
margin: 0px 0px 0px 40px;
padding: 0px;
}		  

ul {
list-style-type: disc;
}

h1{
font-family:Verdana;
font-size:14pt;
font-weight:bold;
color:#000000;
margin: 0px;
}

h2{
font-family:Verdana;
font-size:10pt;
font-weight:bold;
color:#4e7e02;
margin: 0px;
}

h3{
font-family:Verdana;
font-size:8pt;
font-weight:bold;
color:#000000;
margin: 0px;
}

h4{
font-family:Verdana;
font-size:8pt;
font-weight:normal;
font-style:italic;
color:#000000;
margin: 0px;
}

pre{
margin: 0px;
}

a{
color:#4e7e02;
text-decoration:none;
}

a:hover{
color:#b2c791;
text-decoration:none;
}

.menu td a{
color:#FFFFFF;
font-size: 8pt;
text-decoration: none;
font-weight:bold;
}

.menu td a:hover{
color:#b2c791;
text-decoration: none;
}
