<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			Fédération Agile Francophone
		</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
	</head>
	<body class="home">
		<div id="maindiv1" align="center">
			<div id="maindiv2" style="WIDTH: 900px; POSITION: relative">
				<table style="POSITION: relative;BORDER-COLLAPSE: collapse" id="maintable" border="0" cellspacing="0" cellpadding="0" width="900" align="center">
					<tbody>
						<tr>
							<td height="45" valign="bottom">
								<table style="POSITION: absolute;BORDER-COLLAPSE: collapse;TOP: 25px;RIGHT: 2px" border="0" cellspacing="0" cellpadding="0" width="450">
									<tbody>
										<tr>
											<td valign="top" align="right">
												Fédération Agile Francophone&nbsp;© 2010
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<table style="BORDER-COLLAPSE: collapse" border="1" cellspacing="0" bordercolor="#000000" cellpadding="0" width="900">
									<tbody>
										<tr>
											<td valign="top">
												<table style="BORDER-COLLAPSE: collapse" border="0" cellspacing="0" cellpadding="0" width="100%">
													<tbody>
														<tr>
															<td style="BACKGROUND: url(/images/apples-and-water-lily/pic.jpg)" height="303" valign="top">
																<p>
																	&nbsp;
																</p>
															</td>
															<td style="PADDING-BOTTOM: 20px;PADDING-LEFT: 20px;PADDING-RIGHT: 20px;BACKGROUND: url(/images/apples-and-water-lily/right-bg.gif);PADDING-TOP: 20px" valign="top" width="185">
																<h1>
																	News
																</h1>
																<p>
																	&nbsp;
																</p>
																<p>
																	Les membres de la fédération interviennent régulièrement en conférences.
																</p>
																<p>
																	&nbsp;
																</p>
																<p>
																	<strong>Prochainement:</strong><br>
																	<br>
																</p>
																<ul>
																	<li>
																		<strong>&nbsp;</strong><a href="http://xpday.ch/"><strong>XP Days à Genève</strong></a> le 9 mai
																	</li>
																</ul>
																<p>
																	&nbsp;
																</p>
																<p>
																	<b>Dernièrement:&nbsp;&nbsp;&nbsp;</b>
																</p>
																<p>
																	&nbsp;
																</p>
																<ul>
																	<li>
																		<a href="http://www.mix-it.fr/"><strong>Mix-IT à Lyon</strong></a> le 5 avril
																	</li>
																	<li>
																		<a href="http://www.scrumday.fr/"><strong>ScrumDay à Paris</strong></a> le 31 mars
																	</li>
																</ul>
																<p>
																	&nbsp;
																</p>
															</td>
														</tr>
													</tbody>
												</table>
												<table style="BORDER-COLLAPSE: collapse" border="0" cellspacing="0" cellpadding="0" width="100%" height="21">
													<tbody>
														<tr>
															<td style="BACKGROUND: url(/images/apples-and-water-lily/menu_bg.gif) #000000 repeat-x" valign="top">
																<table style="BORDER-COLLAPSE: collapse;MARGIN-LEFT: 34px" class="menu" border="0" cellspacing="0" cellpadding="0" align="left" height="21" meta="menu" metaid="Federation Agile">
																	<tbody>
																		<tr>
																			<td style="WIDTH: 2px;BACKGROUND: url(/images/apples-and-water-lily/menu-left.gif)" width="2">
																				<img width="1" height="1">
																			</td>
																			<td style="PADDING-LEFT: 5px;PADDING-RIGHT: 5px;BACKGROUND: url(/images/apples-and-water-lily/menu-bg-active.gif) repeat-x" valign="center" align="middle">
																				<a href="/index.html">Accueil</a>
																			</td>
																			<td style="WIDTH: 2px;BACKGROUND: url(/images/apples-and-water-lily/menu-div.gif)" width="2">
																				<img width="1" height="1">
																			</td>
																			<td style="PADDING-LEFT: 5px;PADDING-RIGHT: 5px;BACKGROUND: url(/images/apples-and-water-lily/menu-bg.gif) repeat-x" valign="center" align="middle">
																				<a href="/Communique.html">Communiqué</a>
																			</td>
																			<td style="WIDTH: 2px;BACKGROUND: url(/images/apples-and-water-lily/menu-right.gif)" width="2">
																				<img width="1" height="1">
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
															<td style="BACKGROUND: url(/images/apples-and-water-lily/side_bg.gif) #4e7e02 repeat-x 50% bottom" valign="top" width="225">
																<img width="1" height="1">
															</td>
														</tr>
													</tbody>
												</table>
												<div id="content">
													<div class="wrapper">
														{{ content }}
													</div>
												</div>
												<table style="BORDER-COLLAPSE: collapse;BACKGROUND: #ffffff" cellspacing="0" cellpadding="0" width="100%" height="100%">
													<tbody>
														<tr>
															<td style="PADDING-LEFT: 20px;PADDING-RIGHT: 20px;BACKGROUND: url(/images/apples-and-water-lily/right-bg.gif) repeat-y" valign="top" width="185">
																<p>
																	&nbsp;
																</p>
																<p>
																	&nbsp;
																</p>
																<p>
																	&nbsp;
																</p>
																<h2>
																	Les membres signataires
																</h2>
																<p>
																	&nbsp;
																</p>
																<p>
																	<a href="http://www.aubryconseil.com/">Claude Aubry</a>
																</p>
																<p>
																	<a href="http://www.sixsq.com/">Marc Elian Bégin</a>
																</p>
																<p>
																	<a href="http://www.agiletoyou.com/">Alexandre Boutin</a>
																</p>
																<p>
																	<a href="http://inagua.ch/">Jacques Couvreur</a>
																</p>
																<p>
																	<a href="http://www.thierrycros.net/">Thierry Gabriel Cros</a>
																</p>
																<p>
																	<a href="http://www.agilessence.fr/">Jean-François Jagodzinski</a>
																</p>
																<p>
																	<a href="http://www.morisseauconsulting.com/">Laurent Morisseau</a>
																</p>
																<p>
																	&nbsp;
																</p>
																<p>
																	&nbsp;
																</p>
																<p>
																	<font color="#4E7E02"><strong>Nombre de participants</strong> ayant suivi l'une des formations "Fédération Agile" :&nbsp;<strong>&nbsp; &nbsp;228</strong></font>
																</p>
																<p>
																	&nbsp;
																</p>
																<p>
																	&nbsp;
																</p>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!--
	<div id="page">
		<div id="header">

				<h1 id="logo">
					<a href="/">Soft-Shake</a>
				</h1>
				<ul id="menu">
					<li><a href="/conference">La conf&eacute;rence</a></li>
					<li><a href="/association">L'association</a></li>
					<li><a href="/conference">Les sponsors</a></li>
					<li><a href="/conference">Le kit Multimedia</a></li>
				</ul>

		</div>
		<div id="content">
			<div class="wrapper">
				{{ content }}
			</div>
		</div>
	</div>


	<div id="footer">
		<div class="wrapper">
			<div id="social">
				<h1 id="twitter"><a href="http://twitter.com/softshakeevent" target="_blank">Twitter</a></h1>

				<h1 id="facebook"><a href="http://www.facebook.com/group.php?gid=104850552884643&amp;ref=ts"
									 target="_blank">Facebook</a></h1>

				<h1 id="linkedin"><a
						href="http://www.linkedin.com/groups?gid=2903095&amp;trk=anetsrch_name&amp;goback=%2Egdr_1269947395615_1"
						target="_blank">LinkedIn</a></h1>
			</div>
			<p>Soft-Shake 2011 www.soft-shake.ch</p>
		</div>
	</div> -->
	</body>
</html>
